<footer class="ftco-footer ftco-section" style="position: relative">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon" id="subir">
                    <div class="mouse-wheel"><span class="fas fa-angle-double-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <div class="row">
                        <div class="col-lg-4 d-flex align-items-center justify-content-center">
                            <img src="assets/img/logo2.png" height="72px" weight="120px"  alt="Logo de la Empresa">
                        </div>
                        <div class="col-lg-8 d-flex align-items-center justify-content-center mt-3">
                            <!-- <h2 class="ftco-heading-2 text-center">Corporación NTS</h2> -->
                        </div>
                    </div>
                    <div class="row pt-4 pl-2 mr-2">
                        <p class="text-justify" style="text-indent: 15px">NTS Store nace en el año 2015 como una corporación enfocada en la distribución de electrodomésticos de línea menor para uso del hogar y comercial, además de productos para el cuidado personal tanto para mujeres como hombres.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="ftco-footer-widget ">
                    <h2 class="ftco-heading-2 text-center">Redes Sociales</h2>
                    <div class="d-flex justify-content-center">
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
                          
                          <!-- <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li> -->
                          <li class=""><a href="https://www.facebook.com/NTS-Store-101993295453626/?ref=pages_you_manage" class="red-social-icon" target="_blank"><span class="fa fa-facebook"></span></a></li>
                          <li class=""><a href="https://www.instagram.com/ntsstore_oficial/" class="red-social-icon" target="_blank"><span class="fa fa-instagram"></span></a></li>
                          <li class=""><a href="https://www.youtube.com/channel/UCENUaLNl9cWTa6rTBhW7srg" class="red-social-icon" target="_blank"><span class="fa fa-youtube"></span></a></li>
                          <li class=""><a href="http://tiktok.com/@ntsstore_oficial" class="red-social-icon" target="_blank"><span class="fab fa-tiktok"></span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 text-center">Contacto</h2>
                    <div class="block-23 mb-3">
                        <ul class="ul-sin-bineta ul-prueba">
                            <li><span class="fa fa-map-marker"></span> <span class="text" style="padding-left: 20px">Calle prolongación 102 C.C. Ciudad Industrial la Unión Galpon G50 y G51 Zona industrial Los guayitos San Diego Carabobo, Venezuela</span></li>
                            <br>
                            <li><a href="#"><span class="fa fa-phone"></span> <span class="text" style="padding-left: 20px"> 0241 -8728512</span></a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><span class="fa fa-envelope"></span> <span class="text" style="padding-left: 20px"> info@ntsstore.com</span></a></li>


                            <li class="mt-3"><a routerLink="/nosotros" style="color: #007bff">¿Quienes somos?</a></li>
                            <li><a routerLink="/tiendas" style="color: #007bff">Nuestras tiendas</a></li>
                            <li><a routerLink="/blog" style="color: #007bff">Blog</a></li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Terminos y condiciones -->

        <div class="mb-3 text-center">
          <a routerLink="/terminos-condiciones">Términos y Condiciones</a> |
          <a routerLink="/politica-privacidad">Política de Privacidad</a> |
          <a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a>
        </div>

        <!--/ Terminos y condiciones -->


        <div class="row">
            <div class="col-md-12 text-center">

                <p>Copyright &copy;
                  2020 <a routerLink="">NTS Online</a>, C.A. J-50058410-5 | Todos los derechos reservados  
                </p>

            </div>
        </div>
    </div>
</footer>