<div role="alert" class="alert alert-info alert-dismissible fade show text-center" *ngIf="mostrarAlerta == true" style="margin-bottom: 0px !important"> 
	
	<strong>Estimado(a) cliente le informamos que las compras serán atendidas en horario de lunes a domingo, de {{horaAperMens}} a {{horaCierMens}}.<br>
	Igualmente podrá realizar su pedido, aunque tenga en cuenta que el mismo será atendido dentro del horario indicado.
	</strong>

	<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>

</div>