<!-- Resumen quienes somos -->
<div class="row">
  <div class="col-md-6 offset-md-3">
    <p class="text-center">
      NTS Store nace en el año 2015 como una corporación enfocada en la distribución de electrodomésticos de línea menor para uso del hogar y comercial, además de productos para el cuidado personal tanto para mujeres como hombres.
    </p>
  </div>
</div>


<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt bg-light d-none d-lg-block pb-2"> <!-- aparecer -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <img class="card mt-1" src="assets/img/poster/p1.jpg" width="380px" height="700px" alt="" id="img-prueba">
        </div>
      </div>
      <div class="col-md-8">
        <div class="row mb-2">
          <div class="col-md-12"> 
            <div>
              <img class="card mx-1 mt-1" src="assets/img/poster/p2.jpg" width="730px" height="350px" alt="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="row no-gutters">
              <div class="col-md-6">
                <div>
                  <img class="card mt-1 mx-1" src="assets/img/poster/p3.jpg" width="363px" height="346px" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <img class="card mt-1 mx-1" src="assets/img/poster/p4.jpg" width="363px" height="346px" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>