<div class="container mb-5" >

	<h2 class="text-center mb-4" style="padding-top: 30px">PREGUNTAS FRECUENTES (FAQs)</h2>


	<!-- ¿Qué es NTSTORE.COM? -->
	<mat-card class="example-card">
	<mat-card-content>

		<h3>¿Qué es NTSTORE.COM?</h3>

		<p>
			NTS Store es una tienda online enfocada en la venta de electrodomésticos de línea menor para uso del hogar y comercial. También ofrece gran variedad de perfumes originales de las marcas más reconocidas en el mercado, productos para el cuidado personal, juguetes, vasos térmicos y mucho más.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- ¿Cómo registrarme? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿Cómo registrarme?</h3>

		<p>
			El proceso para registrarse como usuario de nuestra Tienda Online es muy sencillo:
		</p>

		<p>
			Debes darle clic en la esquina superior derecha donde dice "Registrar".
		</p>

		<p>
			Luego deberás llenar el formulario con tus datos personales.
		</p>

		<p>
			Una vez completes tus datos, recibirás un código de verificación en tu correo electrónico.
		</p>

		<p>
			Ese código de verificación que te fue enviado debes ingresarlo en el campo solicitado en nuestra página web para completar tu proceso de registro.
		</p>

		<p>
			Cuando hayas realizado todo este proceso, ya podrás ingresar a nuestra Tienda Online con tu cuenta de usuario y podrás realizar cualquier compra.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- ¿Cómo comprar? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿Cómo comprar?</h3>

		<p>
			Una vez ya estés registrado con tu usuario, el proceso de compra es muy sencillo:
		</p>

		<p>
			Agrega los productos de tu preferencia en el carrito de compra.
		</p>

		<p>
			Chequea el pedido realizado y agregado en el carrito de compra en la parte superior derecha de la página.
		</p>

		<p>
			Una vez estés en el carrito y estés seguro del pedido que realizaste, dale clic en procesar compra.
		</p>

		<p>
			Completa tus datos personales, selecciona el método de entrega y método de pago.
		</p>

		<p>
			Desde ese momento tu pedido llegará a nuestros asesores de ventas online, quienes se comunicarán contigo para finiquitar el proceso de compra y la orden de envío.
		</p>

	</mat-card-content>
	</mat-card>
	

	<!-- Registro de usuarios -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿En qué momento puedo realizar una compra?</h3>

		<p>
			Puedes realizar tu compra en cualquier momento del día, puesto que nuestra Tienda Online funciona las 24 horas al día los 7 días a la semana.
		</p>

		<p>
			Lo único que debes tener en cuenta es que nuestros asesores de ventas online revisarán los pedidos realizados en horario comprendido entre las 8am y las 5pm.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- ¿Cuáles son los métodos de pago que se aceptan? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿Cuáles son los métodos de pago que se aceptan?</h3>

		<p>
			Contamos con los siguientes métodos de pago: Transferencias en dólares y en bolívares, Pago Móvil, divisas en efectivo y modalidad de Pago Mixto.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- ¿Cómo funciona el pago mixto? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿Cómo funciona el pago mixto?</h3>

		<p>
			La modalidad de pago mixto te permite cancelar tu compra usando dos métodos de pago al mismo tiempo, por ejemplo: si tu compra es de $55 podrías cancelar la cantidad de $50 en efectivo y el resto que sería $5 podrías hacerlo por pago móvil, así de igual manera con cualquiera de los otros métodos de pago disponible; lo que queremos con esto es ofrecerte una opción multipagos que te facilite las cosas al momento de pagar tu compra.
		</p>
	
	</mat-card-content>
	</mat-card>


	<!-- ¿Cuáles son los métodos de entrega? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿Cuáles son los métodos de entrega?</h3>

		<p>
			Contamos con dos métodos de entrega:
		</p>

		<p>
			<i>Pick Up</i> o <i>Retiro en punto de entrega</i>: son seis los puntos de entrega con los que contamos y están ubicados en Valencia (Centro Empresarial, ARC Los Guayos), Maracay (CC Parque Los Aviadores), Maracaibo (CC Sambil), San Cristóbal (CC Sambil), Barquisimeto (CC Las Trinitarias) y Puerto Ordaz (CC Orinokia Mall), que son las direcciones donde se encuentran nuestras tiendas físicas.
		</p>

		<p>
			<i>Delivery</i>: aplica para las mismas ciudades en donde se encuentran nuestros puntos de entrega, de acuerdo a las zonas previamente establecidas por la empresa.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- ¿Cuál es la cobertura del DELIVERY? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿Cuál es la cobertura del DELIVERY?</h3>

		<p>
			Nuestro servicio de DELIVERY GRATUITO cubre las siguientes zonas:
		</p>

		<h5>VALENCIA - CARABOBO:</h5>

		<p>
			Zona Este (Zona Industrial, Los Guayos, Paraparal, Las Agüitas, Ciudad Alianza, Guacara hasta Guacara Plaza).
		</p>

		<p>
			Zona Sur Este (Isabelica, Parque Valencia, Flor Amarillo).
		</p>

		<p>
			Zona Centro Norte (San Blas, Av. Lara, Centro de la Ciudad, Av. Cedeño, Av. Bolívar Norte, Los Colorados, Guataparo, Prebo, La Viña, El Viñedo, Trigal Norte, Centro y Sur, La Trigaleña, Mañongo, Tazajal, Naguanagua).
		</p>

		<p>
			Zona Centro Sur (Plaza de Bello Monte, Los Samanes, Santa Rosa, Av. Branger, Plaza de la Michelena, Av. Las Ferias, La Candelaria, Av. Aranzazu).
		</p>

		<p>
			Zona Sur Oeste (Av. Enrique Tejera, Av. Lisandro Alvarado).
		</p>

		<p>
			Municipio San Diego (Castillito, Los Jarales, El Morro, La Esmeralda, Lomas de la Esmeralda, Monteserino, El Remanso, Pueblo de San Diego, La Cumaca, Variante San Diego-Bárbula).
		</p>

		<p>
			Zona Norte Oste (La Entrada, Trincheras).
		</p>


		<h5>MARACAY - ARAGUA:</h5>

		<p>
			Municipio Libertador: Palo Negro.
		</p>

		<p>
			Municipio Linares Alcántara: Santa Rita, La Morita.
		</p>

		<p>
			Municipio Girardot: Los Samanes, Maracay Centro, San Jacinto, Las Delicias.
		</p>

		<p>
			Municipio Mariño: Turmero.
		</p>

		<p>
			Municipio Sucre: Cagua.
		</p>

		<p>
			Municipio Mario Briceño Iragorry: El Limón, Caña de Azúcar.
		</p>

		<p>
			Municipio Lamas: Santa Cruz.
		</p>


		<h5>BARQUISIMETO - LARA:</h5>

		<p>
			Zona Este: Trinitarias, Nueva Segovia, Desde el restaurante Tiuna Av. Lara hasta Calle 8.
		</p>

		<p>
			Zona Norte: Desde la Av. Carabobo hasta la entrada de San Jacinto.
		</p>

		<p>
			Zona Centro: Desde Calle 9 con carrera 19 hasta el Hospital Central. Desde la Av. Vargas hasta la Calle 37.
		</p>

		<p>
			Zona Industrial: San José, Barrio Los Luises hasta el obelisco.
		</p>

		<p>
			Zona Oeste: Desde la Av. Libertador hasta carrera 13. Desde la Calle 38 hasta Metrópolis, Urb. El Obelisco y Urb. Pueblo Nuevo hasta Calle 5.
		</p>

		<p>
			Zona Cabudare: Centro, Av. La Mata.
		</p>


		<h5>MARACAIBO - ZULIA:</h5>

		<p>
			Municipio Maracaibo: Zona Norte, Zona Oeste (Av. La Limpia, punto de referencia: Mercasa, Farmatodo), Zona Sur (Casco Central, punto de referencia: Diario Panorama).
		</p>

		<p>
			Municipio San Francisco: Casco Central, punto de referencia: Diario Panorama)
		</p>

		<p>
			Municipio Mara: Entregas en el comando Zona 11 GNB (Core 3).
		</p>


		<h5>SAN CRISTÓBAL - TÁCHIRA:</h5>

		<p>
			Zona 1: Las Lomas, Santa Teresa, Puente Real, Centro de San Cristóbal, La Guayana, Av. Carabobo.
		</p>

		<p>
			Zona 2: Barrio Obrero, Pirineos I, II y III, Barrio Sucre, Concordia, Acacias, Unidad Vecinal, La Castellana, Pueblo Nuevo.
		</p>

		<p>
			Zona 3: Palo Gordo, Altos de Paramillo, Cueva del Oso, Vegas de Tariba, Arjona, Palmira (hasta la plaza), Copa de Oro, El Llanto, Cordero (hasta la plaza), 	Caneyes, Alcabala de Corozo.
		</p>


		<h5>PUERTO ORDAZ - BOLÍVAR: </h5>

		<p>
			Zona 1: Curagua, El Guamo, El Caimito, Loma Linda, Lomas del Caroní, Las Garza, Rio Aro, Rio Negro, Unare I, II y III, El Tiamo, Yara Yara, Terrazas, Villa Jicabaton, Paratepuy, Villa Betania, Riberas.
		</p>

		<p>
			Zona 2: Villa Asia, Villa Africana, Los Mangos, Los Olivos, La Churuata.
		</p>

		<p>
			Zona 3: Villa Granada, Villa Antillana, Ferrominera, Castillito, Villa Colombia.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- ¿En cuánto tiempo puede llegar mi pedido? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿En cuánto tiempo puede llegar mi pedido?</h3>

		<p>
			Una vez que se confirme tu pedido y el respectivo pago por parte de nuestro equipo de asesores de ventas online, iniciará el proceso de entrega que puede tardar de 3 a 7 días hábiles, dependiendo de tu localización.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- ¿En cuánto tiempo puede llegar mi pedido? -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>¿Todos los productos son originales?</h3>

		<p>
			Todos y cada uno de los productos que tenemos disponibles para la venta son totalmente originales y de buena calidad.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- Entrada en vigencia -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<p>
			<i>Fecha de entrada en vigencia: 31 de mayo de 2021</i>
		</p>

	</mat-card-content>
	</mat-card>
	

</div>
