<div id="ini-cuenta-content" >
	
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">

				<a href="javascript:window.history.back()" class="btn btn-secondary mb-3">Volver</a>
				
				<mat-tab-group>

					<mat-tab label="Iniciar sesión">
						<div class="ini-cuenta-component">
							<app-login></app-login>
						</div>
					</mat-tab>

					<mat-tab label="Registrar"> 
						<div class="ini-cuenta-component">
							<app-registro #registro></app-registro>
						</div>
					</mat-tab>

					<mat-tab label="Recuperar contraseña"> 
						<div class="ini-cuenta-component">
							<app-recuperacion></app-recuperacion>
						</div>
					</mat-tab>
					
				</mat-tab-group>
			</div>
		</div>
	</div>


	<app-verificar-correo (registroEvent)="registro.registrar($event)"></app-verificar-correo> 
	<!-- Componente que verifica correo electronico -->

</div>