<section class="ftco-gallery bg-light mt-5"  style="background: #f1f2f4 !important">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 heading-section text-center mb-4">
        <h2 class="mb-4 mt-1" style="font-weight: 400 !important">Síguenos en Instagram</h2>
        <p>Para que estes al día de todo lo que nuestra tienda tiene para ti.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <iframe src="//lightwidget.com/widgets/fe1d87bb5d505c53bd6bee729318c0d1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe>
    </div>
  </div>

</section>