<form id="pago-divisa">

	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Monto a cancelar ($)</div>
	    </div>
	    <input class="form-control" readonly="" name="monto_dol" value="{{formatoMoneda.setFormato(total$())}}">
	  </div>
	</div>


	<div class="form-group">
	  <span>Cantidad y denominación de billetes a emplear</span>
	  <textarea class="form-control" name="descripcion_billete" [(ngModel)]="pago.descripcion_billete"></textarea>
	  <label class="error error-label" id="descripcion_billete-error" for="descripcion_billete"></label>
	</div>


	<div class="alert alert-info text-center" role="alert">
	  Envíe foto frontal y posterior de los billetes que empleara al siguiente número: +58 424-4346395 (Asesores NTS Online).
	</div>

	<div class="text-right">
	  <button type="button" class="btn btn-primary mr-3" (click)="anterior()">Anterior</button>
	  <button type="submit" class="btn btn-primary" (click)="finalizar()">Finalizar</button>
	</div>

</form>