<!-- Modal editar punto de entrega -->
<div class="modal fade" tabindex="-1" role="punto-entrega-editar-modal" id="punto-entrega-editar-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar punto de entrega</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="punto-entrega-editar-form">
	      <div class="modal-body">

	      	<div class="form-group">
	      	  <div class="input-group">
	      	    <div class="input-group-prepend">
	      	      <span class="input-group-text">Nombre</span>
	      	    </div>
	      	    <input class="form-control" name="nombre" [(ngModel)]="punto_entrega.nombre">
	      	  </div>
	      	  <label class="error error-label" id="nombre-error" for="nombre"></label>
	      	</div> 
	      	
	        <div class="form-group">
	          <div class="input-group">
	            <div class="input-group-prepend">
	              <span class="input-group-text">Dirección</span>
	            </div>
	            <textarea class="form-control" name="direccion" [(ngModel)]="punto_entrega.direccion"></textarea>
	          </div>
	          <label class="error error-label" id="direccion-error" for="direccion"></label>
	        </div> 
	          
	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-primary" (click)="editar()"><i class="fa fa-pencil"></i> Editar</button>
	      </div>
      </form>

    </div>
  </div>
</div>