<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Blog</h1>
</div>

<!-- Filtro para buscar -->
<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="buscar">
</mat-form-field>


<!-- Btn agregar articulo -->
<div class="text-right" style="float: right;padding-top: 15px">
  <a class="btn btn-info btn-sm" routerLink="./nuevo-articulo" ><i class="fa fa-plus"></i> Nuevo articulo</a> 
</div>


<!-- Tabla consulta blog -->
<div class="mat-elevation-z8 mb-5">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla-adaptable" matSort #tabla1> 


    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
      <td mat-cell *matCellDef="let art"> {{art.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha publicación </th>
      <td mat-cell *matCellDef="let art"> {{establecerFecha(art.fecha)}} </td>
    </ng-container>

    <ng-container matColumnDef="comentarios">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentarios nuevos </th>
      <td mat-cell *matCellDef="let art"> <span [ngStyle]="{'font-weight':art.comentarios>0?'bold':'normal'}">{{art.comentarios}}</span></td>
    </ng-container>

    <ng-container matColumnDef="ver_comentarios">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let art"> 
        <a class="btn btn-info btn-sm" title="Comentarios" routerLink="./comentarios/{{art.id_articulo_blog}}"><i class="fas fa-comments"></i></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let art"> 
        <a class="btn btn-info btn-sm" routerLink="./editar/{{art.id_articulo_blog}}"><i class="fa fa-pencil"></i></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let art"> 
        <a class="btn btn-danger btn-sm" (click)="eliminar(art.id_articulo_blog)"><i class="fa fa-remove"></i></a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
</div>
<!-- /Tabla consulta blog -->


