<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800" *ngIf="articulo.titulo != null">Blog / {{articulo.titulo}} (Comentarios)</h1>
</div>


<!-- Volver -->
<div class="mt-4 mb-3">
	<a class="btn btn-secondary btn-sm" routerLink="./../../../../">Volver</a>
</div>


<!-- Filtro para buscar -->
<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="buscar">
</mat-form-field>

<!-- Btn agregar comentario -->
<div class="text-right" style="float: right;padding-top: 15px">
  <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#comentar-modal"><i class="fas fa-coment"></i> Comentar</a> 
</div>



<!-- Tabla consulta comentarios -->
<div class="mat-elevation-z8 mb-5">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla-adaptable" matSort #tabla1> 


    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
      <td mat-cell *matCellDef="let com"> 


        <span *ngIf="com.indent != undefined; else sin_indent" class="ml-{{com.indent}}">> {{com.autor}}</span>  
        <ng-template #sin_indent>{{com.autor}}</ng-template>
         

      </td>
    </ng-container>

    <ng-container matColumnDef="comentario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentario </th>
      <td mat-cell *matCellDef="let com"> <span [ngStyle]="{'font-weight':com.estatus=='nv'?'bold':'normal'}">{{com.comentario}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha publicación </th>
      <td mat-cell *matCellDef="let com"> {{establecerFecha(com.fecha)}} </td>
    </ng-container>


    <ng-container matColumnDef="responder">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let com"> 
        <a *ngIf="com.indent == undefined || com.indent == 2" class="btn btn-info btn-sm" title="Responder" (click)="responder.comentar(com.id_articulo_blog_coment)"><i class="fas fa-reply-all"></i></a>
      </td>
    </ng-container>


    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let com"> 
        <a class="btn btn-danger btn-sm" (click)="eliminar(com.id_articulo_blog_coment)"><i class="fa fa-remove"></i></a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
</div>
<!-- /Tabla consulta comentarios -->


<app-comentar (comEvent)="consComentarios()" [id_articulo_blog]="id_articulo_blog"></app-comentar>
<app-responder (respEvent)="consComentarios()" #responder></app-responder>


