
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark ">
    <a class="navbar-brand" href="#">NTsStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/giftcard">Gift</a>
        <a class="nav-link" routerLink="/recarga">Recarga</a>
        <a class="nav-link" routerLink="/resenacompra">Reseña Compra</a>
        <a class="nav-link" routerLink="/resenaproducto">Reseña Producto</a>
        <a class="nav-link" routerLink="/consresenacompra">Consulta Reseña Compra</a>
        <a class="nav-link" routerLink="/consresenaproducto">Consulta Reseña Producto</a>
        <a class="nav-link" routerLink="/estados">Estados</a>
        <a class="nav-link" ><app-translate></app-translate></a>
        
      </div>
    </div>
  </nav>



  
