<div id="carrousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">


    <!-- Consultar banner -->
    <div class="carousel-item" *ngFor="let ban of banners">
      <img src="assets/img/banner/principal/{{ban.foto}}" class="d-block w-100" alt="...">
    </div>


  </div>


  <a class="carousel-control-prev" href="#carrousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carrousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>


</div>