<div class="container mt-3 mb-3">
	<div class="row" >
		
		<!-- Misión -->
		<div class="col-lg-4 mt-3 text-center iden-col">
			<mat-card class="example-card">
			  <img  src="assets/img/iconos/qs-1.png" alt="Valores">
	  	  <mat-card-content>
	  	    <p class="mt-4 text-justify" >
	  				Contamos con un amplio catálogo y líneas de productos, diseños con colores innovadores de marcas reconocidas en el mercado como Oster, Brentwood, Black+Decker, Hamilton Beach, Daewoo, etc. Las cuales tienen como único objetivo hacerles la vida más fácil. Nuestros equipos de alta calidad les proporcionan a ustedes, nuestros clientes, la mejor experiencia para desarrollar las distintas tareas del hogar.
	  			</p>
	  	  </mat-card-content>
			</mat-card>
		</div>

		<!-- Vision -->
		<div class="col-lg-4 mt-3 text-center iden-col">
			<mat-card class="example-card">
			  <img  src="assets/img/iconos/qs-2.png" alt="Valores">
	  	  <mat-card-content>
	  	    <p class="mt-4 text-justify">
	  				No tenemos dudas que próximamente muchas más marcas se unirán a la familia NTS Store, para ofrecerles en mayor medida más variedad, vanguardia, innovación y tecnología en cada uno de nuestros productos.
	  			</p>
	  	  </mat-card-content>
			</mat-card>
		</div>

		<!-- Valores -->
		<div class="col-lg-4 mt-3 text-center  iden-col">
			<mat-card class="example-card">
			  <img  src="assets/img/iconos/qs-3.png" alt="Valores">
		  	<mat-card-content>
			    <p class="mt-4 text-justify">
						Nuestra meta siempre es ser reconocidos como una red de tiendas que ofrece al cliente una amplia gama de productos de alta calidad, que contribuyen a llevar un mejor estilo de vida, de la mano de trabajadores comprometidos con nuestra labor y, por supuesto, proporcionando oportunidades de trabajo y crecimiento a toda la población venezolana.
					</p>
			  </mat-card-content>
			</mat-card>
		</div>

	</div>
</div>
