#multimax-producto-perfume {
  padding-top: 180px;
}


.columna-producto {
		display: flex !important
}
@media screen and (max-width: 575px) {
  .columna-producto {
  	display: block
  }
}


.producto {
  background: white;
  overflow: hidden;
  transition: all .2s ease-in-out;
  width: 100%
}
.producto:hover {
  box-shadow: 0px 0px 10px 2px #b0b0b0; 
}




.pro-body {
  padding: 15px
}
.pro-icon-star {
  float: right;
  font-size: 20px
}


.pro-img {
  width: 100% !important;
  /*height: 260px !important;*/
  outline: 0 !important
}
.pro-img {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.8s ease-in-out
}
.producto:hover .pro-img {
  transform: scale(1.075)
}


/* Icono que sustituye img del producto cuando este no tiene descripcion */
.pro-icono {
  font-size: 150px;
}


.pro-btn-detalle {
  position: absolute;
  left: 10%;
  top: 220px;
  display: block; 
  opacity: 0;
  width: 80%;
  margin: auto;
  border-radius: 0 !important;
  background: #BDBDBD !important;
  color: black !important;
  transition: opacity .5s ease-in-out;
}
.pro-btn-detalle:hover {
  background: #dbcc8f !important;
  color: white !important
}
.producto:hover .pro-btn-detalle {
  opacity: 1;
}


/* Mas estilos */
#pro-icon-vacio {
	font-size: 150px;
}

.cantidad-icon {
	font-size: 30px;
	cursor: pointer;
}
.cantidad-icon-left:active {
	color: red
}
.cantidad-icon-right:active {
	color: blue
}
/*****************/



/* Loading pagina */
.spinner-content {
  display: flex;
  align-items: center;
  justify-content: center
}




/* Boton subir arriba */
.scroll-to-top2{position:fixed;right:1rem;bottom:1rem;display:none;width:2.75rem;height:2.75rem;text-align:center;color:#fff;background:rgba(90,92,105,.5);line-height:46px}
.scroll-to-top2:focus,.scroll-to-top2:hover{color:#fff}.scroll-to-top2:hover{background:#5a5c69}.scroll-to-top2 i{font-weight:800}@-webkit-keyframes growIn{0%{transform:scale(.9);opacity:0}100%{transform:scale(1);opacity:1}}@keyframes growIn{0%{transform:scale(.9);opacity:0}100%{transform:scale(1);opacity:1}}



