<form id="pm-pago-gift-card">


	<!-- Monto a cancelar y diferencia -->
	<div class="row" *ngIf="montoPagado == null; else diferencia">

	  <div class="col-md-6">
	    <div class="form-group">
	      <div class="input-group">
	        <div class="input-group-prepend">
	          <div class="input-group-text">Monto ($)</div>
	        </div>
	        <input class="form-control" name="pm_monto" [(ngModel)]="montoFormato" (keypress)="formatoMoneda.validar($event)" (keyup)="tipear()">
	      </div>
	      <label class="error error-label" id="pm_monto-error" for="pm_monto"></label>
	    </div>
	  </div>

	  <div class="col-md-6">
	    <div class="form-group">
	      <div class="input-group">
	        <div class="input-group-prepend">
	          <div class="input-group-text">Total ($)</div>
	        </div>
	        <input class="form-control" readonly="" name="total" value="{{formatoMoneda.setFormato(total())}}">
	      </div>
	    </div>
	  </div>

	</div>

	<ng-template #diferencia>
		<div class="form-group">
	    <div class="input-group">
	      <div class="input-group-prepend">
	        <div class="input-group-text">Diferencia ($)</div>
	      </div>
	      <input class="form-control" readonly="" name="pm_monto" value="{{formatoMoneda.setFormato(total())}}">
	    </div>
	    <label class="error error-label" id="pm_monto-error" for="pm_monto"></label>
	  </div>
	</ng-template>



	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Código Gift Card</div>
	    </div>
	    <input class="form-control" name="pm_codigo" [(ngModel)]="pago.referencia">
	  </div>
	  <label class="error error-label" id="pm_codigo-error" for="pm_codigo"></label>
	</div>


	<div class="alert alert-info text-center" role="alert">
	  Al finalizar la compra, el saldo de su Gift Card sera descontado automaticamente segun el monto a cancelar.
	</div>


	<div class="mt-3 text-right">
	  <button type="button" class="btn btn-primary mr-3" (click)="anterior()">Anterior</button>
	  <button type="submit" class="btn btn-primary" (click)="siguiente()">Siguiente</button>
	</div>

</form>


