<div class="container mb-5" >

	<h2 class="text-center mb-4" style="padding-top: 30px">TERMINOS Y CONDICIONES</h2>


	<!-- Condiciones generales -->
	<mat-card class="example-card">
	<mat-card-content>

		<h3>Condiciones Generales</h3>

		<p>
			Cada persona y usuario que ingrese a NTSSTORE.COM declara haber leído, revisado y estar de acuerdo con los presentes Términos y Condiciones. Por lo tanto, debe estar consciente que para poder ingresar o hacer uso de los servicios ofrecidos en nuestro sitio web debe cumplir cada uno de los puntos aquí suscritos. De no aceptarlos, el usuario debe abstenerse de ingresar al sitio web.
		</p>

		<p>
			Las personas que visiten nuestra página y Tienda Online y no se encuentren registradas con sus respectivos usuarios, podrán tener acceso a ciertos servicios dependiendo del caso.
		</p>

		<p>
			Cualquier concurso, sorteo, cupón o Gift Card ofrecida a los usuarios registrados en nuestra Tienda Online se regirá por las normas y reglas previamente establecidas dentro de la plataforma.
		</p>

		<p>
			Nuestra Tienda Online ofrece la mejor y más detallada descripción de los productos disponibles, con el único objetivo de que los clientes tengan los datos necesarios que le permitan tomar las mejores decisiones de compra.
		</p>

		<p>
			Los usuarios deben revisar al detalle la información ofrecida para cada producto antes de tomar una decisión de compra. NTSSTORE.COM no se hace responsable por la interpretación errada de información o confusión con referencia a las características y especificaciones de cada producto.
		</p>

		<p>
			Toda persona que cuente con su cuenta de usuario dentro de NTSSTORE.COM podrá realizar su compra en cualquier momento del día, puesto que el servicio está habilitado las 24 horas al día de los 7 días a la semana. Sin embargo, los pedidos serán atendidos por nuestros asesores de ventas online en horario comprendido entre las 8:00am y las 5:00pm.
		</p>

		<p>
			NTSSTORE.COM se reserva el derecho a modificar los presentes Términos y Condiciones para adaptarlos a cualquier novedad. Estas condiciones estarán vigentes hasta que sean modificadas por otras debidamente publicadas. 
		</p>

	</mat-card-content>
	</mat-card>
	

	<!-- Registro de usuarios -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>Registro de Usuarios</h3>

		<p>
			Para poder realizar cualquier compra en nuestra NTSSTORE.COM, las personas deben registrarse y crear un usuario; para ello, deben llenar un formulario con sus datos personales incluyendo correo electrónico, nombre, apellido, cédula de identidad, número de contacto y dirección.
		</p>

		<p>
			Al dar de alta su cuenta y usuario, la persona autoriza a NTSSTORE.COM a usar su información personal para ser añadida a una base de datos de la que solo nuestra página web es responsable. Estos datos serán empleados para uso interno y para enviar comunicaciones e informaciones a los usuarios.
		</p>

		<p>
			La actualización de datos personales dentro de NTSSTORE.COM será responsabilidad única de cada usuario registrado, así como la confidencialidad de los mismos.
		</p>

		<p>
			NTSSTORE.COM almacena de forma encriptada las contraseñas empleadas por los usuarios para acceder a nuestro sitio web y Tienda Online, no teniendo acceso a ellas en lo absoluto. En caso de olvido o extravío, NTSSTORE.COM pone disponible los respectivos mecanismos para recuperarlas o restablecerlas.   
		</p>

	</mat-card-content>
	</mat-card>


	<!-- Entrega de productos, Términos de pago y Mercancía -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>Entrega de productos, Términos de pago y Mercancía</h3>

		<p>
			El precio publicado de los productos disponibles en nuestra Tienda Online incluye IVA.
		</p>

		<p>
			El pago de su pedido debe realizarse previo a la finalización del proceso de compra. En el caso que su pago sea en efectivo, deberá reflejarlo en el sistema de compra y comunicarlo a nuestros asesores de ventas online una vez que se comuniquen con usted. Por supuesto, el pago deberá ser entregado una vez retire o reciba su pedido.
		</p>

		<p>
			Después de definir la compra en nuestra tienda online y el respectivo método de pago, el cliente tendrá 2 horas para pagar su pedido; los productos seleccionados se reservarán, pero al no concretar la compra en ese período de tiempo esa mercancía regresará al inventario y quedará disponible para la venta de terceros.
		</p>

		<p>
			No realizamos ventas a menores de edad. Todas las compras deben ser realizadas por adultos, incluyendo la de juguetes. Los menores de 18 años pueden ingresar a NTSSTORE.COM y disfrutar de toda la información contenida, pero sin registrarse ni realizar compra alguna.   
		</p>

		<p>
			Ofrecemos dos métodos de entrega para los pedidos: Pick Up o retiro en tienda y DELIVERY. Esto debe seleccionarlo una vez que esté realizando su respectivo proceso de compra.  
		</p>

		<p>
			Los pedidos serán enviados una vez se confirme el pago del mismo por parte de nuestros asesores de ventas online, y llegarán hasta el punto de entrega (servicio pick up) que seleccionó o hasta la dirección de su domicilio (servicio delivery) en un lapso de tiempo entre 3 a 7 días hábiles.  
		</p>

		<p>
			Contamos con seis puntos de entrega en todo el país, localizados en Valencia (Centro Empresarial, ARC Los Guayos), Maracay (CC Parque Los Aviadores), Maracaibo (CC Sambil), San Cristóbal (CC Sambil), Barquisimeto (CC Las Trinitarias) y Puerto Ordaz (CC Orinokia Mall), que son las ciudades en donde se encuentran nuestras tiendas físicas.  
		</p>

		<p>
			Nuestro servicio de DELIVERY GRATUITO aplica para las mismas ciudades en donde se encuentran nuestros puntos de entrega, de acuerdo a las zonas previamente establecidas por la empresa.
		</p>

		<p>
			El certificado de garantía del o los productos que adquiera en NTSSTORE.COM estará incluido en el envío junto a la factura de compra. Es importante que se asegure, al momento de recibir/retirar su compra, que ambos soportes hayan sido enviados. Si luego de retirado/recibido el pedido se da cuenta que el certificado de garantía o factura no fueron incluidos, no podremos responder por este beneficio. 
		</p>
	
	</mat-card-content>
	</mat-card>


	<!-- Términos de uso y Derechos de autor -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>Términos de uso y Derechos de autor</h3>

		<p>
			Todo contenido, información, datos, software, sonidos, música, imágenes, fotografías, gráficos, videos y cualquier otro elemento presente en nuestra página web es propiedad de NTSSTORE.COM o sus licenciantes. Está prohibido el uso de cualquiera de estos contenidos sin previa autorización y por escrita de NTSSTORE.COM; por lo tanto, se prohíbe la reproducción, publicación, distribución, transmisión y descarga de cualquiera de estos materiales de cualquier forma y cualquier medio sin el previo consentimiento de NTSSTORE.COM.
		</p>

		<p>
			Solo se permite el uso del material contenido en NTSSTORE.COM para uso personal y no comercial, siempre que se conserven las normas respectivas de derechos de autor y otros avisos de propiedad. 
		</p>
	
	</mat-card-content>
	</mat-card>


	<!-- Entrega de productos, Términos de pago y Mercancía -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<h3>Comunicación e Información</h3>

		<p>
			Colocamos a disposición nuestro correo electrónico info@ntsstore.com y contacto de whatsapp 0424-4346395 para que soliciten cualquier tipo de información referente a nuestra Tienda Online: registro de usuario, proceso de compra, métodos de pago disponibles, servicio de delivery, o para aclarar cualquier duda que tengan los usuarios.
		</p>

		<p>
			NTSSTORE.COM empleará los datos personales suministrados por los usuarios, como correo electrónico y números de contacto, para hacerles llegar cualquier forma de comunicación referente a nuestros productos, ofertas, promociones, cupones o cualquier otra información general.
		</p>

		<p>
			Cada persona registrada en NTSSTORE.COM tendrá acceso a publicar comentarios dentro de las entradas publicadas en el blog, tomando en cuenta que cada uno de esos comentarios no deben violar ni atropellar ningún derecho de terceros, incluyendo derechos de autor, privacidad o algún otro derecho personal.
		</p>

	</mat-card-content>
	</mat-card>


	<!-- Entrada en vigencia -->
	<mat-card class="example-card mt-4">
	<mat-card-content>

		<p>
			<i>Fecha de entrada en vigencia: 31 de mayo de 2021</i>
		</p>

	</mat-card-content>
	</mat-card>
	

</div>
