<!-- Datos cuenta de la empresa -->
<div>
	<h4>Cuenta a transferir</h4>
</div>



<form>
	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Banco</div>
	    </div>
	    <input class="form-control" readonly="" name="" value="Banesco Panamá">
	  </div>
	  <label class="error error-label" id="nombre-error" for="nombre"></label>
	</div>

	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Beneficiario</div>
	    </div>
	    <input class="form-control" readonly="" name="" value="NTS STORE BARQUISIMETO C.A.">
	  </div>
	</div>

	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">R.I.F.</div>
	    </div>
	    <input class="form-control" readonly="" name="" value="J-41126499-7">
	  </div>
	</div>

	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Número de cuenta</div>
	    </div>
	    <input class="form-control" readonly="" name="codigo_referencia" value="110000099214">
	  </div>
	</div>

	
	<a class="btn btn-info" data-toggle="modal" data-target="#codigo-swift-modal">
		Coordenadas para transferencias internacionales
	</a>

</form>
<!--/ Datos cuenta de la empresa -->


<!-- Datos de la transferencia -->
<form class="pt-4" id="pago-dol">
	
	<div>
		<h4>Datos de la transferencia</h4>
	</div>

	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Monto a cancelar ($)</div>
	    </div>
	    <input class="form-control" readonly="" name="monto_dol" value="{{formatoMoneda.setFormato(total$())}}">
	  </div>
	</div>

	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Titular de la cuenta</div>
	    </div>
	    <input class="form-control" name="nombre_titular" [(ngModel)]="pago.nombre_titular" >
	  </div>
	  <label class="error error-label" id="nombre_titular-error" for="nombre_titular"></label>
	</div>


	<h6>Documento de identidad del titular</h6>

	<div class="row">
	  
	  <div class="col-sm-3 form-group">
	    <div class="input-group">
	      <div class="input-group-prepend">
	        <div class="input-group-text">Tipo</div>
	      </div>
	      <select name="tipo_doc_titular" class="form-control" [(ngModel)]="pago.tipo_doc_titular">
	        <option value="v">V</option>
	        <option value="e">E</option>        
	        <option value="j">J</option>
	        <option value="p">P</option>    
	        <option value="g">G</option>            
	      </select>
	    </div>
	  </div>

	  <div class="col-sm-9 form-group">
	    <div class="input-group">
	      <div class="input-group-prepend">
	        <div class="input-group-text">Documento</div>
	      </div>
	      <input class="form-control" name="doc_titular" [(ngModel)]="pago.doc_titular"> 
	    </div>
	    <label class="error error-label" id="doc_titular-error" for="doc_titular"></label>
	  </div>

	</div>



	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <div class="input-group-text">Código de referencia</div>
	    </div>
	    <input class="form-control" name="referencia" [(ngModel)]="pago.referencia">
	  </div>
	  <label class="error error-label" id="referencia-error" for="referencia"></label>
	</div>

	<div class="alert alert-info text-center" role="alert">
	  Tenga en cuenta que el tiempo de validación de su pago puede variar entre 48 y 72 horas
	</div>

	<div class="text-right">
	  <button type="button" class="btn btn-primary mr-3" (click)="anterior()">Anterior</button>
	  <button type="submit" class="btn btn-primary" (click)="finalizar()">Finalizar</button>
	</div>

</form>
<!--/ Datos de la transferencia -->			
		


<!-- Coordenadas para transferencias internacionales -->
<div class="modal fade" tabindex="-1" role="codigo-swift-modal" id="codigo-swift-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Coordenadas para transferencias internacionales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <div class="container">
      <div class="row">
      <div class="col-md-10 offset-md-1">
      	

    		<form>


    			<h5 class="text-center mb-3 mt-3"><b>DATOS GENERALES DEL BENEFICIARIO</b></h5>
    			<fieldset class="mb-4">

    				<div class="form-group">
    				  <div class="input-group">
    				    <div class="input-group-prepend">
    				      <div class="input-group-text">Banco Beneficiario</div>
    				    </div>
    				    <input class="form-control" readonly="" name="" value="Banesco, S. A.">
    				  </div>
    				</div>

		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Código SWIFT (BIC)</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="BANSPAPAXXX">
		  			  </div>
		  			</div>

		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Dirección</div>
		  			    </div>
		  			    <textarea class="form-control" readonly="" name="">Ave. Aquilino De La Guardia y Calle 47, Torre Banesco Apartado 0823-05799, Panamá, República de Panamá.</textarea>
		  			  </div>
		  			</div>

		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Cuenta del Beneficiario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="110000099214">
		  			  </div>
		  			</div>


    			</fieldset>


    			<h5 class="text-center mb-3"><b>COORDENADAS - BANCOS INTERMEDIARIOS</b></h5>

    			<!-- Opcion A -->
    			<fieldset class="mb-4">
    			<details>
    				<summary class="btn btn-info mt-2">Transferencias en Dólares (Banesco USA)</summary>
    				  
		  			<div class="form-group mt-2">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="Banesco USA">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">N° ABA</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="067015779">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">No. SWIFT (BIC)</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="BBUBUS33XXX">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Dirección</div>
		  			    </div>
		  			    <textarea class="form-control" readonly="" name="">150 Alhambra Circle Coral Gables FL, 33134, USA.</textarea>
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Cuenta Banesco Panamá con Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="1000007904">
		  			  </div>
		  			</div>
		  		</details>
    			</fieldset>


    			<fieldset class="mb-4">
    			<details>
						<summary class="btn btn-info">Transferencias en Dólares (Deutsche Bank Trust Company Americas)</summary>

		  			<div class="form-group mt-2">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="Deutsche Bank Trust Company Americas.">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">N° ABA</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="021001033">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">No. SWIFT (BIC)</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="BKTRUS33XXX">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Dirección</div>
		  			    </div>
		  			    <textarea class="form-control" readonly="" name="">60 Wall ST., Mail Stop NYC 60-2710, New York City, NY 10005 USA.</textarea>
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Cuenta Banesco Panamá con Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="04441612">
		  			  </div>
		  			</div>
		  		</details>
    			</fieldset>


    			<fieldset class="mb-4">
    			<details>
						<summary class="btn btn-info">Transferencias en Dólares (Standard Chartered N.A.)</summary>

		  			<div class="form-group mt-2">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="Standard Chartered N.A.">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">N° ABA</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="026002561">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">No. SWIFT (BIC)</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="SCBLUS33 XXX">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Dirección</div>
		  			    </div>
		  			    <textarea class="form-control" readonly="" name="">195 Avenue of the Americas, New York City, NY 10036 USA.</textarea>
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Cuenta Banesco Panamá con Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="3544022444001">
		  			  </div>
		  			</div>
		  		</details>
    			</fieldset>


    			<fieldset class="mb-4">
    			<details>
						<summary class="btn btn-info">Transferencias en Dólares (Citibank N.A.)</summary>

		  			<div class="form-group mt-2">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="Citibank N.A.">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">N° ABA</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="021000089">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">No. SWIFT (BIC)</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="CITIUS33XXX">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Dirección</div>
		  			    </div>
		  			    <textarea class="form-control" readonly="" name="">111 Wall St New York City, NY 10005 USA</textarea>
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Cuenta Banesco Panamá con Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="36893058">
		  			  </div>
		  			</div>
		  		</details>
    			</fieldset>


    			<fieldset>
    			<details>
						<summary class="btn btn-info">Transferencias en Euros (Standard Chartered N.A.)</summary>

		  			<div class="form-group mt-2">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="Standard Chartered N.A.">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">N° ABA</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="N / A">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">No. SWIFT (BIC)</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="SCBLDEFX">
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Dirección</div>
		  			    </div>
		  			    <textarea class="form-control" readonly="" name="">Franklinstrasse 46-48, 60486 Frankfurt AM Main.</textarea>
		  			  </div>
		  			</div>
		  			<div class="form-group">
		  			  <div class="input-group">
		  			    <div class="input-group-prepend">
		  			      <div class="input-group-text">Cuenta Banesco Panamá con Banco Intermediario</div>
		  			    </div>
		  			    <input class="form-control" readonly="" name="" value="018109810">
		  			  </div>
		  			</div>
		  		</details>
    			</fieldset>
    			

      	</form>
      </div>
      </div>
      </div>
      </div>
     	

      <div class="modal-footer">
      	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div> 
<!--/ Coordenadas para transferencias internacionales -->


