<div class="mb-4">
	<h3>Reseñas del producto</h3>
</div>


<!-- Consulta de reseñas -->
<div>

	<h6><span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span> Por <b>Jesús Fuente</b></h6>

	<p>
		Exelente producto.
	</p>
</div><br>


<div>

	<h6><span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="font-size: 20px"></span> Por <b>José Perez</b></h6>

	<p>
		Buena marca.
	</p>
</div><br>


<div>

	<h6><span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="color: #ffc107;font-size: 20px"></span>
		<span class="fa fa-star" style="font-size: 20px"></span> Por <b>Juan Gonzalez</b></h6>

	<p>
		Muy buen producto.
	</p>
</div>
<br><br>
<!-- 
<form class="mt-4" id="resena-form">
	
	<div class="form-group">
		<span class="form-label">Selecciona un puntaje</span>

		<select class="form-control" name="puntaje" [(ngModel)]="resena.puntaje">
			<option value=""></option>
			<option value="1">Muy malo</option>
			<option value="2">Malo</option>
			<option value="3">Normal</option>
			<option value="4">Bueno</option>
			<option value="5">Muy bueno</option>
		</select>

		<label class="error error-label" id="puntaje-error" for="puntaje"></label><br>
	</div>

	<div class="form-group">
		<span class="form-label">Escribe tu opinión</span>

		<textarea class="form-control" rows="5" name="comentario" [(ngModel)]="resena.comentario"></textarea>
		<label class="error error-label" id="comentario-error" for="comentario"></label><br>

		<button type="submit" class="btn btn-primary" (click)="comentar()">Comentar</button>

	</div>

</form> -->