<section class="mb-5"> <!-- aparecer -->
    <div class="container">

        <div class="row">
            <div class="col-lg-5 d-flex align-items-center pt-4 ">
                <div class="services-flow  mt-4">
                    <div class="services-2 p-4 d-flex">
                        <div>
                            <img width="74px" height="74px" src="assets/img/iconos/gar.png" alt="">
                        </div>
                        <div class="text">
                            <h3>Garantía</h3>
                            <p class="mb-0">Nuestros productos tienen el respaldo y la garantía que tú necesitas.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex">
                        <div>
                            <img width="74px" height="74px" src="assets/img/iconos/compra.png" alt="">
                        </div>
                        <div class="text">
                            <h3>Expriencia de Compra</h3>
                            <p class="mb-0">Somos la única tienda que te ofrece una experiencia de compra llena de vanguardia, simplicidad e inmediatez.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex">
                        <div>
                            
                            <img width="74px" height="74px" src="assets/img/iconos/mic.png" alt="">
                        </div>
                        <div class="text">
                            <h3>Productos Llamativos</h3>
                            <p class="mb-0">Tenemos para ti los productos más innovadores y resaltantes del mercado.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 pt-4">
                <div class="heading-section mt-4">
                    <h2 class="text-center" style="font-weight: 400 !important">NTS Store, Más que una Marca</h2>
                    <!-- <p class="text-center">Observe, todo lo que se puede lograr con nuestros productos.</p> -->
                </div>

                <div class="card embed-responsive embed-responsive-16by9">
                    <!-- <iframe class="embed-responsive-item" src="" allowfullscreen id="video-repro"></iframe>  -->
                    <video class="embed-responsive-item" src="assets/img/videos/quienes_somos.mp4" id="video-repro" controls="" style="outline: none !important"></video>
                    <!-- Video - Agrega path con jquery -->
                </div>
            </div>

        </div>
    </div>
</section>