<!-- Codigo verificacion -->
<div class="modal fade" id="verificar-codigo-modal">
  <div class="modal-dialog">
  <form id="verificacion-codigo-form">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Código de verificación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info text-center" role="alert">
          <span>Se ha enviado un código de verificación a su correo electrónico, ingréselo en la barra a continuación.</span><br>
          <span>(Tenga en cuenta que el correo enviado podría alojarse en la bandeja de spam).</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Código</div>
            </div>
            <input class="form-control" name="codigo" [(ngModel)]="codigo"> 
          </div>
          <label class="error error-label" id="codigo-error" for="codigo"></label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="verificar()">Verificar</button>
      </div>
    </div>
   </form>
  </div>
</div>